* {
    font-family: Raleway, sans-serif;
}

body {
    font-size: 14px;
    background: hsl(229, 57%, 11%) url('./images/bg-desktop.png') no-repeat;
    margin: 0;
    padding: 0;
}

p {
    color: hsl(243, 100%, 93%);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(229, 57%, 11%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main page content */

.card {
    height: 100px;
    background-color: hsl(228, 56%, 26%);
    padding: 30px;
}

.left {
    z-index: 5;
    padding-right: 100px;
    border-radius: 10px 80px 10px 10px;
    margin-right: 20px;
}

.right {
    z-index: 5;
    border-radius: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

/* Background image */

#background {
    background-image: url('./images/bg-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 50vh;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(243, 100%, 93%);
    padding: 5px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}